*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #1E3E62;
}
.header-logo{
    height: 50px;
    width: 55px;
    border-radius: 0.6rem;
}
.nav-menu ul {
    display: flex;
    padding: 0px 20px;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.nav-menu a:hover{
    background-color: beige;
    color: black;
}